header {
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 0.5rem solid #696969;
    font-size: 1.5rem;
}
.motivation {
    margin: 1.5rem auto;
    font-family: 'Gowun Batang', serif;
    font-size: 1.5rem;
    text-align: center;
}

tbody {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500;
}

.taskInput{
    white-space: pre-wrap;
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
    font-size: 1.2rem;
}

.expired{
    background-color: grey;
}



.save-btn{
    background-color: rgb(53, 219, 81);
    border: none;
    margin-left: 2.5rem;
    cursor: pointer;
    border-radius: 2rem;
    color: honeydew;
    font-size: 1.5rem;
}
.save-btn:hover{
    box-shadow: 0 0.6rem 1.4rem 0 rgba(18, 19, 18, 0.3);
    transform: scale(1.03);
}


.expired{
    background-color: rgb(192, 192, 192);
    color: black;
    white-space: pre-wrap;
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
    font-size: 1.2rem;

}

.current {
    background-color: rgb(219, 15, 15);
    color: black;
    font-size: 1.2rem;
    white-space: pre-wrap;
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
}

.future {
    white-space: pre-wrap;
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
    font-size: 1.2rem;

}